*.tflite filter=lfs diff=lfs merge=lfs -text
* text=auto eol=lf
mobile/res/**/*.webp filter=lfs diff=lfs merge=lfs -text
mobile/res/**/*.jpg filter=lfs diff=lfs merge=lfs -text
mobile/res/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
mobile/res/**/*.png filter=lfs diff=lfs merge=lfs -text
